body{margin:0;background:#05080f;color:#fff;font-family:system-ui}
header{text-align:center;padding:16px;font-weight:900;letter-spacing:3px;color:#33f0ff}

.core-box,.rate-box,.history-box{
  margin:12px;padding:16px;border-radius:16px;
  background:#0e1524;box-shadow:0 0 18px rgba(51,240,255,.22)
}

.core-label{text-align:center;font-size:12px;color:#9fb7ff}
.core-decision{text-align:center;font-size:36px;font-weight:900;margin:14px 0}
.wait{color:#ffd700}
.banker{color:#ff3c3c}
.player{color:#33b1ff}

@keyframes pulse{0%{transform:scale(1)}50%{transform:scale(1.06)}100%{transform:scale(1)}}
.pulse{animation:pulse .9s infinite}

.controls{display:grid;grid-template-columns:1fr 1fr;gap:10px}
.btn{padding:14px;border-radius:12px;font-weight:900;border:none;background:#111a2f;color:#fff}

.rate{margin-top:10px}
.rate span{display:flex;justify-content:space-between;font-weight:700}
.bar{height:10px;background:#111;border-radius:999px;overflow:hidden}
.bar div{height:100%;width:0%}
#barB{background:#ff3c3c}
#barP{background:#33b1ff}
#toolBar.good{background:#00ffaa}
#toolBar.mid{background:#33b1ff}
#toolBar.bad{background:#ff3c3c}

.box-title{text-align:center;font-weight:900;margin-bottom:10px;color:#9fb7ff}
.history-list{display:flex;flex-wrap:wrap;gap:8px}
.his-item{
  width:42px;height:42px;border-radius:50%;
  display:flex;align-items:center;justify-content:center;
  font-weight:900;box-shadow:0 0 10px rgba(0,0,0,.5)
}
.his-b{background:#ff3c3c}
.his-p{background:#33b1ff}
